html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    background: #00FFEB ;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    float: left;
}

a{
    padding: 20px;
    width: 100px;
    display: none;
    text-decoration: none;
    color: mediumvioletred;
    text-transform: uppercase;
    font-weight: bold;
}

#section1{
    height: 700px;
    background-image: url("photos/foot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    display: inline-block;
    width: 100%;
}

#section2{
    height: 700px;
    background: white;
    display: inline-block;
    width: 100%;
}

#section3{
    height: 700px;
    background-image: url("photos/keyboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: cover;
    display: inline-block;
    width: 100%;
}

#section4{
    height: 700px;
    background: white;
    display: inline-block;
    width: 100%;
}

#section5{
    height: 700px;
    background: white;
    display: inline-block;
    width: 100%;
}

#section6{
    height: 700px;
    background-image: url("photos/seat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    display: inline-block;
    width: 100%;
}

h1{
    margin: 100px;
    text-align: center;
    padding: 0;
}

p{
    text-align: center;
}


#socials{
     text-align: center;
}

.main-content-wrapper .main-content-body{
    display: flex;
    text-align: center;
    margin: 0 5%;
    padding: 0;
}

.main-content-wrapper .main-content-body span
{
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
}

#design{
    display: none;
}

#development{
    display: none;
}

#product{
    display: none;
}